body {
  margin: 0;
  font-family: 'Graphik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-regular: 400;
  --text-bold: 700;
  --link-color: #fff;
  --cta-text-color: #fff;
  --text-heading-color: #252B42;
  --text-color: #374754;
  --default-btn-color: #2091F9;
  --default-btn-text-color: #fff;
  --default-btn-text-size: 20px;
}

.App {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1023px) {

  .container {
    width: 768px;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 600px;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 425px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 424px) {
  .container {
    width: 350px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 349px) {
  .container {
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* giving space for chrome scrollbar */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 1024px){
  .App {
    width: calc(100vw - 17px);
  }
}

/* for firefox the space is not needed*/
@-moz-document url-prefix() {
  .App {
    width: 100vw;
  }
}