.button{
    border: none;
    padding: 16px;
    text-align: center;
    cursor: pointer;
}

.button.default {
    background-color: var(--default-btn-color);
    border-radius: 35px;
    color: var(--default-btn-text-color);
    font-size: var(--default-btn-text-size);
    font-weight: var(--text-regular);
    min-width: 145px;
    transition: background-color .3s;
}

.button.default:hover, .button.video:hover {
    background-color: var(--default-btn-hover);
}

.button.video {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    background-color: var(--default-btn-color);
    transition: background-color .3s;
}

.button.video img{
    width: 46px;
    height: 46px;
    margin: auto;
}